.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.logo{
    width: 120px;
    height: 120px;
    margin: 0px 20px;
}
.nav-items{
    margin: 0px 20px;
}

.nav-items>ul{
    display: flex;
}

.nav-items>ul>li{
    margin: 10px;
    list-style-type: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    
}

.undln-none{
    color: black;
    text-decoration: none;
}

.res-card{
    /* background-color: #f0f0f0; */
    width: 270px;
    padding: 10px;
}

.res-card:hover{
    border: 1px solid gray;
    box-shadow: 5px 5px 15px gray;
    cursor: pointer;
}

.search{
    margin: 10px;
}

.res-card>img{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-btn{
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: 0.5px solid black;
    border-radius: 5px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    
}
.shimmer-card{
    margin: 20px;
    width: 250px;
    height: 400px;
    background-color: #f0f0f0;

}

.login-btn{
    margin: 0 10px;
    padding: 0 20px;
    cursor: pointer;
}

.filter{
    display: flex;
    align-items: center;
}

.search-box{
    
    padding: 5px 10px;
}

.search-btn{
    padding: 5px 10px;
    cursor: pointer;

}

.user-card{
    padding: 10px;
    border: 1px solid black;
}